<div style="width:900px;margin:0 auto;">
	<div class="pull-right">
		<h1 class="label label-info">Progress: {{vm.gameNo + 1}}/5</h1>
	</div>
	<div class="bs-callout bs-callout-success">
		<h4>Instruction:</h4>
		<span>{{vm.scripts[vm.currentStep].text}}</span>
		<div style="position: absolute; right: 0; bottom: 0;">
			<br>
			<button ng-click="vm.prevInst()" ng-if="vm.currentStep !== 0 && !vm.shouldDisplayAnswer" class="btn btn-success" id="prev">Prev</button>
			<button ng-click="vm.nextInst()" ng-if="vm.currentStep !== vm.scripts.length - 1 && !vm.shouldDisplayAnswer" class="btn btn-success" id="next">Next</button>
			<button ng-click="vm.nextGame()" ng-if="vm.currentStep === vm.scripts.length - 1 && vm.shouldDisplayAnswer" class="btn btn-primary">Next Game</button>
		</div>
	</div>
</div>

<div ng-if="vm.shouldDisplayAnswer" class="text-center">
	<br><br><br><br><br><br><br><br><br>
	<div ng-if="!vm.endGame">
		<i class="fa fa-check fa-4x" aria-hidden="true" style="color:green" ng-if="vm.isCorrect">Correct!</i>
		<i class="fa fa-times fa-4x" aria-hidden="true" style="color:red" ng-if="!vm.isCorrect">Incorrect!</i>
	</div>
</div>

<br><br><br>
<div id="container" style="width:900px;margin:0 auto;" ng-if="!vm.shouldDisplayAnswer">
	<div>
		<div class="text-center" style="display: table-row" id="tableHead">
			<div style="width:205px; display: table-cell;"></div>
			<div style="width:285px; display: table-cell;">Car A</div>
			<div style="width:100px; display: table-cell;"></div>
			<div style="width:285px; display: table-cell;">Car B</div>
		</div>
		<div class="text-center" style="display: table-row" id="tableCol" ng-repeat="attribute_name in vm.Car.attribute_name()">
			<div class="text-left" style="width:205px; display: table-cell;">{{::attribute_name}}</div>
			<div style="width:285px; display: table-cell;">
				<div class="cover_block_container" style="padding-top: 20px;" ng-click="vm.onMouseOver(attribute_name, vm.carA, $index)"
					 ng-mouseleave="vm.onMouseLeave(attribute_name, vm.carA, $index)">
					<div ng-if="!vm.carA.shouldShowValue(attribute_name)" ng-class="vm.shouldShowBorder('A', $index)" ng-attr-id="{{'carA-block-' + $index}}"></div>
					<div ng-if="vm.carA.shouldShowValue(attribute_name)" ng-attr-id="{{'carA-value-' + $index}}">
						{{::vm.carA.getAttribute(attribute_name)}}
					</div>
				</div>
			</div>
			<div style="width:100px; display: table-cell;">{{::vm.demo.compare[$index]}}</div>
			<div style="width:285px; display: table-cell;">
				<div class="cover_block_container" style="padding-top: 20px;" ng-click="vm.onMouseOver(attribute_name, vm.carB, $index)"
					 ng-mouseleave="vm.onMouseLeave(attribute_name, vm.carB)">
					<div ng-if="!vm.carB.shouldShowValue(attribute_name)" ng-class="vm.shouldShowBorder('B', $index)" ng-attr-id="{{'carB-block-' + $index}}"></div>
					<div ng-if="vm.carB.shouldShowValue(attribute_name)" ng-attr-id="{{'carB-value-' + $index}}">
						{{::vm.carB.getAttribute(attribute_name)}}
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br>
		<div class="row text-center">
			<div class="col-md-2"></div>
			<div class="col-md-5"><button ng-click="vm.selectCar('A')" class="btn btn-primary">Choose A</button></div>
			<div class="col-md-5"><button ng-click="vm.selectCar('B')" class="btn btn-primary">Choose B</button></div>
		</div>
	</div>
</div>
