<div style="width:900px;margin:0 auto;padding: 50px">
  <div>
    <p>You are going to purchase a used car and given 5 pieces of information as displayed in the image below: the car's mileage, year, the number of previous owners, the number of online reviews, and the number of accidents.</p><br><br>
    <p>You want to buy the most <em>durable</em> car among the two options given to you. Five pieces of information are ranked by their order of relevance to the decision task, from the most to least relevant.</p>
    <p>The values will be covered by boxes. Please <em>click</em> open the boxes to check out the values. Your goal is to make as many correct decisions as possible to maximize your reward.</p><br><br>
    <p>You will make 200 decisions, and will be given <em>feedback</em> for each trial. Each correct decision will be awarded 2 cents. With that said, you can receive additional 4 dollars maximum. The amount of bonus you can get depends on your performance. You can track the number of correct decisions made at the upper right corner of the screen.</p><br><br>
    <br><a class="btn btn-primary" ng-click="vm.next()">Next</a>

    <p class="c9"><img src="/images/example-exp.jpeg" style="width: 800px; height: 800px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
  </div>
</div>
